#MainDiv
{
    background-color: grey;
    border: 4px double black;
    text-align: center;
}
#imageDiv
{
    float: left;
    display: block;
    width: 300px;
}
#versionGame
{
    float: left;
    display: block;
    width: 300px;
}