#MainDiv
{
    width: 50%;
    background-color: rgba(230, 219, 219, 0.788);
    border: 4px double black;
    margin-left: 25%;
}
#imageDiv
{
    float: left;
    display: block;
    margin-left: 50px;
}
#versionGame
{
    display: block;
    margin-left: 50px;
}